@model ShoppingCartViewModel



    <script type="text/javascript">

        function func(id) {

            if (id == minus) {

                count.innerHTML--;
            }
            else {
                count.innerHTML++;
            }
            var x = document.getElementById("count").innerText;

            var y = document.getElementById("price").innerText;

            document.getElementById("itog").innerHTML = (parseInt(x) * parseFloat(y)).toFixed(2);
        }

     

        function Total() {

            var sum = 0;

            var total = document.getElementById("tbody").getElementsByTagName("td");

            for (var i = 0; i < total; i++) {

                if (total[i].id == "itog") {

                    sum += parseInt(total[i].innerHTML);
                    
                }
                
            }

            document.getElementById("Total").innerHTML = sum;
        }

    </script>



<div class="row checkoutForm">
    <h2>Your shopping cart</h2>
    <h4>Here are the products in your shopping cart.</h4>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Selected amount</th>
                <th>Product</th>
                <th class="text-right">Price</th>
                <th class="text-right">Subtotal</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="tbody">
            @foreach (var line in Model.ShoppingCart.ShoppingCartItems)
            {
                <tr>
                    <td class="text-center">
                        <button id="minus"  onclick="func(this), Total()" >&#8722;</button>
                        <span id="count" > @line.Amount</span>
                            <button id="plus" onclick="func(this), Total()">&#43;</button>
                    </td>
                    <td class="text-left">@line.Product.Name</td>
                    <td id="price" class="text-right">@line.Product.Price</td>
                    <td id="itog" class="text-right">
                        @(line.Amount * line.Product.Price)
                    </td>
                    <td class="text-center">
                        <a class="glyphicon glyphicon-remove text-danger remove"
                           asp-controller="ShoppingCart"
                           asp-action="RemoveFromShoppingCart"
                           asp-route-productId="@line.Product.ProductId"></a>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" class="text-right">Total:</td>
                <td id="Total" class="text-right">
                    @Model.ShoppingCartTotal
                </td>
            </tr>
        </tfoot>
    </table>

    <div class="text-right">
        <div class="btn-group ">
            <a class="btn btn-success" asp-controller="Order" asp-action="Checkout">Check out</a>
            <a class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                Add more productcs<span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li><a asp-controller="Product" asp-action="List" asp-route-category="Cheese">Cheese</a></li>
                <li><a asp-controller="Product" asp-action="List" asp-route-category="Chutney">Chutney</a></li>
            </ul>
        </div>
    </div>
</div>