@model Product

        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
                <img src="~/img/@Model.ImageUrl" alt="" style="width:100%" />
                <div class="caption">
                    <h3 class="pull-right">@Model.Price.ToString("c")</h3>
                    <h3>
                        <a asp-controller="Product"
                       asp-action="Details" 
                       asp-route-productId="@Model.ProductId"
                           >@Model.Name</a>
                    </h3>
                    <p>@Model.ShortDescription</p>
                </div>

                <form method="post" asp-controller="ShoppingCart" asp-action="AddToShoppingCart">

                   
                    <label style="color:darkseagreen;font-size:15px;"> Count </label>

                     <input class="quantity" type="number" id="count" name="count"  min="1" max="9" step="1" value="1">

                    <input type="number" hidden name="productId" id="productId" value="@Model.ProductId" />

                    <input style="float:right;padding-top:0px;" class="btn btn-success" id="cartButton" type="submit" value="Add to cart" />

                </form>
               
               
            </div>
        </div>
